<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="techkids.com.android9_tkmp3_onclass">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/mp3_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mp3_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".services.PlayMusicNotification">
            <intent-filter>
                <action android:name="com.example.app.ACTION_PLAY" />
            </intent-filter>
        </receiver>
    </application>

</manifest>